body {
  padding-top: 50px;
  font-family: 'Play', sans-serif;
}

canvas {
  padding-top: 1em;
}

.hide-this {
  display: none;
}

.chart-wrapper {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.chart-info-preview {
  padding: 15px;
}

#chart-button {
  margin-top: 1em;
  padding: 10px;
}

.chart-form {
  padding: 1em;
  text-align: center;
}

#chart-button-order {
  margin-top: 1em;
}

.chart-button {
  width: 100%;
}

.chart-order-form {
  padding-top: 1em;
}

.chart-name {
  padding-top: 1em;
}

.chart-auto::before, .chart-auto::after {
  content: "";
  background: black;
  position: absolute;
  height: 2px;
  width: 50%;
  left: 20%;
}

.close-button {
  height: 30px;
  width: 30px;
  position: absolute;
  box-sizing: border-box;
  line-height: 30px;
  display: inline-block;
  right: 65px;
  top: 60px;
  border: 0px;
  background: transparent;
}
.close-button:before,
.close-button:after {
  transform: rotate(-45deg);
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -25px;
  display: block;
  height: 5px;
  width: 30px;
  background-color: black;
  transition: all 0.2s ease-out;
}
.close-button:after {
  transform: rotate(45deg);
}
.close-button:hover:before,
.close-button:hover:after {
  transform: rotate(0deg);
}
