/* .chart-wrapper {
  padding-top: 50px;
  font-family: 'Play', sans-serif;
} */

.text-up {
  font: bold italic 1.1em 'Play';
  background: #fbfbc3;
}

.chart-form {
  text-align: center;
  margin: 0 auto;
  /* width: 850px; */
}

.chart-table {
  text-align: left;
  margin-top: 20px;
}

.container-btn {
  padding-top: 100px;
  width: 260px;
  height: 100%;
  margin: 0 auto 0;
  perspective: 1000;
  backface-visibility: hidden;
  background: #fff;
}

.pulse-button {
  position: relative;
  margin: auto;
  display: block;
  width: 260px;
  height: 50px;
  font-size: 1em;
  font-weight: light;
  font-family: 'Play', sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 50px;
  letter-spacing: -1px;
  color: white;
  border: none;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: #631717;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgba(212, 90, 90, 0.5);
  animation: pulse 4s infinite;
}

.pulse-button:hover {
  animation: none;
}

.container-btn a:visited, a:active, a:focus, a:hover {
  text-decoration: none;
}

@keyframes pulse {
  0% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  70% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 0 20px rgba(212, 90, 90, 0);
  }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
    box-shadow: 0 0 0 0 rgba(212, 90, 90, 0);
  }
}

.img-fluid {
  max-height: 200px;
}
