* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: 10px auto 0;
}

.grid-container {
  padding: 20px;
  display: grid;
  grid-template-columns: 40% 60%;
  justify-items: center;
  align-items: center;
}

.params {
  text-align: center;
}

.params div {
  margin: 25px;
}

.params span {
  margin-right: 30px;
}

.par-container {
  border: 5px solid #000;
  transform: skew(-20deg);
}

.circle-container {
  border-radius: 50%;
  border: 5px solid #000;
}

.ellipse-container {
  border-radius: 50%;
  border: 5px solid #000;
}

.square-container {
  border: 5px solid #000;
}

.rectangle-container {
  border: 5px solid #000;
}

.triangle-root {
  overflow: hidden;
  border-bottom: 5px solid #000;
  border-left: 5px solid #000;
}

.triangle-container {
  background-color: #000;
  clip-path: polygon(-3% 2%, -2% -2%, 100% 100%, 99% 104%);
  width: 100%;
  height: 100%;

}

.btn {
  margin-left: 90%;
  margin-bottom: 50px;
}

input {
  width: 30px;
  margin-right: 30px;
}
