* { 
    margin:0;
    padding:0;
    box-sizing: border-box;
    }

body {
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 50px;
}

a {
    text-decoration: none;
    font-family: Verdana;
}

.wrapper {
    margin: 0 auto;
    height: 100%;
    max-width: 1170px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.nav {
    border: 1px solid gray;
    background: #eee;
    line-height: 24px;
    width: 100%;
}