* { 
    margin:0;
    padding:0;
    box-sizing: border-box;
    }

body {
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 50px;
}

.nav > a {
    text-decoration: none;
    font-family: Verdana;
    padding: 0 10px;
    line-height: 48px;
    color: white;
    display: inline-block;
}

.nav > a:hover {
    background: #666;
}

.wrapper {
    margin: 0 auto;
    height: 100%;
    max-width: 1170px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.nav {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background: #eee;
    height: 50px;
    width: 100%;
    background: #333;
}

.clock {
    float: right;
}