* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  background-color: #21232e;
  font-family: "Fresca", sans-serif;
  font-weight: 400;
  font-style: normal; }

body::-webkit-scrollbar {
  display: none; }

.header {
  background: url("../img/m-h-night.jpg") no-repeat center center;
  background-size: 1920px 1280px;
  background-position-y: -190px;
  border-bottom-right-radius: 40%;
  color: #fff;
  position: relative;
  z-index: 1; }

.header-wrap {
  width: 80%;
  margin: 0 auto;
  padding: 25px 0 218px 0; }

.landing-logo {
  display: flex;
  flex-direction: row; }
  .landing-logo img {
    width: 55px;
    height: 55px; }
  .landing-logo span {
    display: block;
    font-size: 13px;
    text-align: center; }
  .landing-logo p {
    line-height: 1.22;
    font-family: "Fresca", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 31px;
    margin-left: 18px; }

.header_heading {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 90px;
  line-height: 1;
  margin: 90px 0 15px 0; }
  .header_heading::before {
    content: '';
    float: right;
    width: calc(100% - 8em);
    height: 1em; }
  .header_heading::after {
    display: block;
    content: '';
    width: 380px;
    height: 31px;
    background: #ff4e33;
    position: relative;
    top: -30px;
    z-index: -1; }

.header_text {
  white-space: pre-line;
  letter-spacing: .013em;
  font-size: 20px;
  line-height: 1.5; }

.header_button, .section_banner_button {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-style: normal;
  margin-top: 75px;
  font-size: 23px;
  padding: 16px 54px;
  color: white;
  background: #e3ac00;
  border-radius: 3px;
  border: none; }
  .header_button:hover, .section_banner_button:hover {
    background: #ffc717;
    cursor: pointer; }

.section_banner_button {
  margin-top: 20px; }

.section_card_wrap {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.section_card {
  background: #3b3f50;
  border-radius: 10px;
  color: white;
  padding: 25px;
  width: 32.2%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.section_card_img {
  width: 100%;
  border-radius: 10px; }

.section_text {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-style: normal;
  width: 530px;
  margin: 45px auto 47px;
  text-align: center;
  font-size: 53px;
  color: #fff; }
  .section_text::after {
    display: block;
    content: '';
    width: 240px;
    height: 16px;
    background: #ff4e33;
    position: relative;
    float: right;
    top: -27px;
    left: -17px;
    z-index: -1; }

.section_card_heading {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 30px;
  display: inline-block;
  margin-top: 17px;
  z-index: 1; }

.section_card_underline {
  display: block;
  margin-bottom: 4px; }

.section_card_underline::after {
  display: block;
  content: '';
  width: 100%;
  height: 16px;
  background: #ff4e33;
  position: relative;
  top: -16px;
  z-index: -1; }

.section_card_text {
  color: #d1d1cd;
  font-size: 20px;
  text-align: center;
  line-height: 1.5; }

.section_banner {
  width: 1200px;
  background: linear-gradient(45deg, #e3ac01, #ff0066);
  margin: 175px auto -92px;
  padding: 30px 0 50px 0;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1; }

.section_banner_text_wrap {
  width: 64%; }
  .section_banner_text_wrap .section_banner_heading {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 38px;
    padding-bottom: 20px;
    color: #fff; }
    .section_banner_text_wrap .section_banner_heading::after {
      display: inline-block;
      content: '';
      width: 81px;
      height: 17px;
      background: #ff4e33;
      position: relative;
      top: 6px;
      right: 372px;
      z-index: -1; }
  .section_banner_text_wrap .section_banner_text {
    color: #d1d1d1;
    font-size: 20px; }

.footer {
  padding: 135px 0 45px 0;
  background-color: #3b3f50;
  position: relative;
  z-index: -1; }

.footer-wrap {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0; }

.footer_logo, .footer_text, .footer-cr {
  color: #d1d1d1; }

.footer_text {
  width: 25%;
  font-size: 17px;
  letter-spacing: .013em;
  line-height: 1.5;
  margin-right: 5px; }

.footer-cr {
  font-size: 20px; }
