* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

body {
  margin: 20px;
  background-color: #eee;
}

.container {
  max-width: 640px;
  margin: 0 auto;
}

img {
  width: 100%;
  filter: grayscale(1);
}
