* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

body {
  margin: 20px;
  background-color: #eee;
}

#first {
  height: 640px;
  width: 640px;
  margin: 0 auto;
  background: url('../img/nataly.jpg');
}

#second {
  height: 100%;
  opacity: 0;
  background: url('../img/nataly_color.jpg');
}
