.kill {
    background: #ffb9b9;
    order: 3;
    -webkit-order: 3;
}

.good {
    background: #beffbe;
    order: 1;
    -webkit-order: 1;
}

.proc {
    background: lightgoldenrodyellow;
    order: 2;
    -webkit-order: 2;
}

::-webkit-scrollbar { 
    display: none;
}

.container-floor {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-floor .item {
    margin: 2px;
    border: 1px solid #dcdcdc;
    padding: 5px;
    border-radius: 4px;
    text-align: center;
    box-shadow: inset 0 1px 3px rgba(0,0,0,.05), 0 1px 0 rgba(255,255,255,.1);
    -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.05), 0 1px 0 rgba(255,255,255,.1);
}

.container-floor .item:hover {
     box-shadow: 0 0 10px rgba(0,0,0,0.5);
     cursor: pointer;
}

h2 a {
    font-size: 24px;
}

@media (min-width: 400px) {
    .item {
        width: 30%;
        font-size: 20px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .item {
        width: 30%;
        font-size: 18px;
    }
}

@media (min-width: 768px) and (max-width: 900px) {
    .item {
        width: 20%;
        font-size: 14px;
    }
    .double {
        width: 40%;
    }
}

@media (min-width: 1170px) {
    .item {
        width: 118px;
        font-size: 14px;
    }
    .double {
       width: 240px;
    }
}
