.kill {
  background: #ffb9b9;
}

.good {
  background: #beffbe;
}

.proc {
  background: lightgoldenrodyellow;
}

div.col-md-1 {
  margin-left: 5px;
  margin-bottom: 5px;
}

.container-floor {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.container-floor .item {
    margin-left: 5px;
    margin-bottom: 5px;
    font-size: 13px;
}

@media (max-width: 500px) {
    .item {
      width: 30%;
  }
}

@media (max-width: 700px) {
    .item {
      width: 20%;
  }
}

@media (max-width: 900px) {
  .item {
    width: 12%;
  }
}