* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

body {
  margin: 20px;
  background-color: #333;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  position: relative;
}

img {
  width: 100%;
  border-radius: 20px;
  border: 1px solid #fff;
  filter: grayscale(1);
}

#words {
  opacity: 0;
  position: absolute;
  width: 100%;
  padding: 10px 0;
  bottom: 2%;
  font-size: 3em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

.insetshadow {
  color: #202020;
  background-color: #2d2d2d;
  letter-spacing: .1em;
  text-shadow:
    -1px -1px 1px #111,
    2px 2px 1px #363636;
}
