body {
    /* background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px; */
}

div {
    height: 100%;
    margin-top: 100px;
    text-align: center;
    font-family: 'Frijole', cursive;
}

p {
    font-family: 'Frijole', cursive;
    background: -webkit-repeating-linear-gradient(left, red 10%, orange 20%, green 30%, red 40%, orange 50%, green 60%, red 70%, orange 80%, green 90%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1 {
    font-size: 2.5em;
    background: -webkit-linear-gradient(left, #000, red, #000, red, #000, red, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}