* { 
    margin:0;
    padding:0;
    }

html, body, .wrapper { 
    height: 100%;
    font-family: 'Frijole', cursive;
    overflow-y: hidden!important;
    }
body > .wrapper {
    height: auto;
    min-height: 100%;
    }

.main {
    padding-bottom: 50px;
    }

.footer { 
    position: relative;
	margin-top: -50px;
	height: 50px;
	clear:both;
    text-align: center;
    line-height: 50px;
    } 

.clearfix:after {
    content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
    }

.wrapper {
    text-align: center;
}

p {
    background: -webkit-repeating-linear-gradient(left, red 10%, orange 20%, green 30%, red 40%, orange 50%, green 60%, red 70%, orange 80%, green 90%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h1 {
    padding-top: 100px;
    font-size: 2.5em;
    background: -webkit-linear-gradient(left, #000, red, #000, red, #000, red, #000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    font-size: 1.8em;
    background: -webkit-repeating-linear-gradient(left, #000 3%, red 6%, #000 9%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}