* {
    margin: 0;
    padding: 0;
}

html,
body,
.wrapper {
    height: 100%;
    background: rgb(255, 214, 168);
    font-family: 'Source Code Pro', monospace;
}

body > .wrapper {
    height: auto;
    min-height: 100%;
}

.main {
    padding-bottom: 50px;
}

.footer {
    position: relative;
    margin-top: -50px;
    height: 50px;
    clear: both;
    text-align: center;
    line-height: 50px;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.wrapper {
    text-align: center;
    max-width: 1260px;
    margin: 0 auto;
    padding-top: 30px;
}

table {
    padding-top: 50px;
}

td {
    font-family: 'Play', sans-serif;
    border: 1px solid;
    border-radius: 4px;
    width: 65px;
    height: 65px;
    font-weight: bold;
    font-size: 26px;
}

.clear {
    border: 0;
}

.alkali {
    background: #f89600;
}

.alkaline {
    background: #ffc107;
}

.other {
    background: #8bc34a;
}

.gases {
    background: #04aaf5;
}

.metalloids {
    background: #4eb7ad;
}

.halogens {
    background: #26c6da;
}

.transition {
    background: #c68a8a;
}

.post-transition {
    background: #91a5af;
}

.lanthanoids {
    background: #f79a89;
}

.actinoids {
    background: #b39ddb;
}

.top--left {
    font-size: 12px;
    position: absolute;
    margin-top: -16px;
    margin-left: 4px;
    font-family: 'Source Code Pro', monospace;
}

.bot {
    font-size: 10px;
    position: absolute;
    font-weight: normal;
    width: 65px;
    font-family: 'Source Code Pro', monospace;
}

.top--right {
    font-size: 10px;
    position: absolute;
    font-weight: normal;
    margin-top: -8px;
    margin-left: 26px;
    font-family: 'Source Code Pro', monospace;
}
