* { 
    margin:0;
    padding:0;
    }

html, body, .wrapper { 
    height: 100%;
    font-family: 'Source Code Pro', monospace;
    }
    
body > .wrapper {
    height: auto;
    min-height: 100%;
    }

.main {
    padding-bottom: 50px;
    }

.footer { 
    position: relative;
	margin-top: -50px;
	height: 50px;
	clear:both;
    text-align: center;
    line-height: 50px;
    } 

.clearfix:after {
    content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
    }

.wrapper {
    text-align: center;
    box-sizing: border-box;
    margin-left: 80px;
    margin-right: 80px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 100px;
}

td {
    border: 1px solid grey;
    border-radius: 4px;
    width: 56px;
    height: 56px;
    font-weight: bold;
    font-size: 24px;
}

td.clear {
    border: 0;
}

td.green {
    background: rgb(188, 253, 188);
}

td.red {
    background: rgb(255, 158, 158);
}

td.blue {
    background: rgb(163, 163, 255);
}

td.yellow {
    background: rgb(253, 253, 176);
}