* { 
    margin:0;
    padding:0;
    }

html, body, .wrapper { 
    height: 100%;
    }
    
body > .wrapper {
    height: auto;
    min-height: 100%;
    }

.main {
    padding-top: 100px;
    padding-bottom: 50px;
    margin: 0 auto;
    }

.footer { 
    position: relative;
	margin-top: -50px;
	height: 50px;
	clear:both;
    text-align: center;
    line-height: 50px;
    font-family: 'Consolas';
    font-size: 16px;
    }

.wrapper {
    margin: 0 auto;
    max-width: 1170px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    background: #eee;
}

.completed {
    text-decoration: line-through;
}

input {
    border: 1px solid black;
    border-radius: 4px;
    font-size: 16px;
    height: 20px;
}

ol {
    padding-left: 40px;
}