/*==Fixed Menu options==*/
.menu-fixed {
    .sp-megamenu-parent {
        >li {
            a {
                color: #fff;
            }

            .active {
                >a {
                    text-shadow:0px 0px 1px #000;
                }
            }
        }
        
        .sp-dropdown {
            li {
                .sp-menu-item {
                    >a {
                        color: #fff;
                        padding: 5px;

                        :hover {
                            	background: transparent;
                                color: #a55;
                        }
                    }
                    .active {
                        >a {
                            text-shadow:0px 0px 1px #000;
                        }
                    }
                }
            }

            .sp-dropdown-inner {
                background: rgba(0,0,0,0.5);
            }
        }
    }
}