* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

.main {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  padding: 10px 0;
}

h2 {
  text-align: center;
  padding: 10px 0;
}

.grid-tmp {
  text-align: center;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
}

.item-header {
  font-size: 1.2em;
  font-weight: bold;
  color: blue;
}
